<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/admin/register-admin}" method="post" th:fragment="register-admin" style="display: none" id="form">
    <h2>Sign In</h2>

    <fieldset> <!-- Nome -->
        <label for="username">Username: </label>
        <input
                type="text"
                placeholder="123456"
                id="username"
                name="username"
                required
        >
    </fieldset>

    <fieldset> <!-- Senha -->
        <label for="password">Senha</label>
        <div>
            <input type="password" placeholder="123456" class="password" id="password" name="password" required>
            <i class="view-password">aaa</i><!-- colocar olhinho -->
        </div>
    </fieldset>

    <fieldset> <!-- cpf -->
        <label for="cpf">CPF: </label>
        <input type="text" placeholder="123456" id="cpf" name="cpf" required>
    </fieldset>

    <fieldset> <!-- email -->
        <label for="email">Email: </label>
        <input type="email" placeholder="123456" id="email" name="email" required>
    </fieldset>

    <fieldset> <!-- telefone -->
        <label for="phone">Telefone: </label>
        <input type="tel" placeholder="123456" id="phone" name="phone" required>
    </fieldset>

    <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</body>
</html>