<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet">

    <title>Login IF Bank</title>
</head>
<body>
<main>
    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Bem vindo [[${user.username}]]</h1>

        <div th:if="${alert != null}" th:class="${alert == 'error'} ? 'alert alert-danger' : 'alert alert-success'"
             role="alert">
            <h4 th:text="${title}" class="alert-heading"></h4>
            <p th:text="${text}"></p>
            <hr>
            <p class="mb-0"><small th:text="${subtext}"></small></p>
        </div>
    </div>

    <a th:href="@{/admin/register}">
        <button>Cadastrar novo admin</button>
    </a>

    <a th:href="@{/admin/list-all}">
        <button>Listar usuários</button>
    </a>

    <a th:href="@{/admin/logout}">
        <button>Sair</button>
    </a>
</main>

<script src="https://kit.fontawesome.com/a20fb09076.js" crossorigin="anonymous"></script>
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
</body>
</html>