<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet">

    <title>Login IF Bank</title>
</head>
<body>

    <main>
        <h1>Trocar senha</h1>

        <form th:method="${account != null}? 'POST': 'GET'" th:action="${account == null}? '/account/email-forgot-password': '/account/forgot-password'"
              th:object="${account}"
        >
            <fieldset th:if="${account == null}">
                <label for="login">Digite o login da sua conta</label>
                <input type="text" name="login" id="login">
            </fieldset>

            <div th:if="${account != null}">
                <input type="hidden" name="number" th:field="*{number}">

                <fieldset>
                    <label for="password">Digite sua nova senha</label>

                    <div>
                        <input type="password" name="password" class="password" id="password" th:field="*{password}">
                        <i class="view-password">View Password</i>
                    </div>
                </fieldset>
            </div>

            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
    </main>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js}"></script>
    <script th:src="@{/js/view-password.js}" type="text/javascript"></script>
</body>
</html>