<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet">

    <title>Login IF Bank</title>
</head>
<body>
<h1>Editar dados</h1>

<form th:action="@{/user/update/account}" method="post" th:object="${account}">
    <fieldset>
        <label for="username">Nome</label>
        <div>
            <input th:field="*{user.username}" type="text" placeholder="Nome" id="username" name="username">
        </div>
    </fieldset>

    <fieldset>
        <label for="email">Email</label>
        <div>
            <input th:field="*{user.email}" type="email" placeholder="Email" id="email" name="email">
        </div>
    </fieldset>

    <fieldset>
        <label for="phone">Telefone</label>
        <div>
            <input th:field="*{user.phone}" type="text" placeholder="Telefone" id="phone" name="phone">
        </div>
    </fieldset>

    <button type="submit">Concluir edição</button>

</form>

    <a th:href="@{/user/dashboard}"><button>Voltar</button></a>

<script src="https://kit.fontawesome.com/a20fb09076.js" crossorigin="anonymous"></script>
</body>
</html>